<%- include header.ejs %>
<br/>
<div class="row">
    <div class="large-9 columns">
        <form action="post" method="post">
            <div class="panel radius">
                <div class="row">
                    <div class="large-12 columns">
                        <textarea id="content" name="content" placeholder="say something..."></textarea>
                        <button id="content_sub" type="submit" class="button" />
                    </div>
                </div>
            </div>
        </form>
            <% posts.forEach(function(post, index){ %>
            <div class="panel radius" id="timeline_panel">
                <p><%= post.content %></p>
                -<span style="color:#777777">by <a href="#"><%= post.username %></a></span>
                <span class="floatRightSpan"><%= post.time.minute %></span>
            </div>
            <% }) %>


    </div>
    <div class="large-3 columns">
        <% if (!user) { %>
        <div class="panel radius">
            <form action="/login" method="post">
                <input name="username" type="text" placeholder="username"/>
                <input name="password" type="password" placeholder="password"/>
                <button type="submit" class="button" />
            </form>
        </div>
        <% } %>
        <% if(user){ %>
        <div class="panel radius">
            <h3 style="text-align: center">Hello,world:)</h3>

        </div>
        <% } %>
    </div>
</div>


<%- include footer.ejs %>